body {
padding: 0;
margin: 0;
font-family: "Nunito";
background-color: rgb(201, 239, 252);
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: darkblue;
    margin-bottom: 30px;
}

button {
    width: 350px;
    height: 100px;
    display: block;
    background-color: rgb(150, 11, 127);
    color: white;
    font-size: 30px;
    font-family: inherit;
    margin: 0 auto;
    margin-bottom: 10px;
}
